<p>Crazy Legs Race Series is proud to present the Nerds on the Run: 5k Run/Walk
  benefiting Lakeshore Public Media. All runners and walkers will receive
  one-size-fits-all gloves and a hat. The first 50 individuals that sign up
  will receive a pair of PBS Nerd sunglasses and a Lakeshore Public Radio water
  bottle. The course will be a mixture of roads and trails.</p>
<p>Lakeshore Public Media, a nonprofit and community-licensed media
  organization, brings Northwest Indiana and the Chicagoland quality PBS, NPR,
  and original programming that informs, inspires, and entertains. The
  organization strives to be the recognized media resource for citizens of all
  ages to experience lifelong learning, celebrate human diversity, and engage
  in civic concerns.</p>
<p>Lakeshore Public Radio is Northwest Indiana's own listener-supported public
  radio station featuring the best of NPR, as well as unique region-focused
  programming.</p>
<p>Lakeshore PBS broadcasts a unique blend of national and locally-produced
  programming broadcast to more than 14 counties across Indiana and
  Illinois.</p>
<p>For more information about Lakeshore Public Media,
  please visit <a href="https://www.lakeshorepublicmedia.org" target="_blank">
  www.lakeshorepublicmedia.org</a>.</p>
