<p>The Black Cat Strut 5k Trail Run and Non-Competitive 5k Walk, "Race for Buddy,"
  is in honor of our cat, Buddy, who brought great joy to our family. My wife,
  Rachel, adopted Buddy from the
  <a href="https://www.facebook.com/INCatSociety" target="_blank">
    Independent Cat Society
  </a>
  in the 1990's. Sadly, he left our lives two years ago, after spending 20 years
  on this earth. Part of the proceeds of this race will be donated to the ICS.
  More info about the ICS can be found at
  <a href="https://www.catsociety.org/" target="_blank">
    www.catsociety.org
  </a></p>
<p>We will begin at a new location in 2019 within Red Mill Park. We will
  start/finish at the ECC building and it can be reached by turning at the
  second entrance to the park.</p>
