<p>The Love Is Love 5k Run/Walk will be held at the beautiful Bluhm County Park in
  Westville, IN. This event will be on the pavement bike trail across the
  street from the shelter in the park. Part of the proceeds benefit
  NWI Pride Events Inc. Please visit their web site
  <a href="http://www.nwi-pride.org" target="_blank">www.nwi-pride.org</a> or
  Facebook at <a href="https://www.facebook.com/nwiprideevents/" target="_blank">https://www.facebook.com/nwiprideevents/</a>. Come celebrate
  diversity, acceptance, inclusion, and the individual expression of truth.</p>
