<p>
    This is the 12th Annual Crazy Legs 10k Trail Run. The number of runners is limited by the park permit, so once the limit is reached a waitlist will be created. The entry fee allows you entry into the post-race celebration, where there will be an award ceremony, raffle, light refreshments, and coffee. You also receive a trucker hat with a random patch on it. The awards ceremony will be at Dark Heart Coffee Bar in Loveland, CO.
</p>
<p>
    This race is part of the 2020 Crazy Legs Race Series.
</p>
<p>
    Course: The scenic 10k+ course is located in Devil’s Backbone Open Space. The finish line will be located in the trail head parking lot. The course has rocks, dirt, hills, other trail users, and wildlife.
</p>
<p>
    Parking: It is available at the trailhead, but is very limited. Please carpool, if possible.
</p>
<p>
    Timing: Chip timing? No, baby! we are going old school. After crossing the finish line you will be handed your overall placing on an index card. Please turn this card in ASAP.
</p>
<p>
    <em>
        Important:  Please be aware that if the weather closes the trail, the date is unable to be rescheduled.  There will be no refunds or transfers.  This is why the race has been moved to June.
    </em>
</p>