<p>Jennie Hamilton was a 2003 graduate of Purdue University, Calumet who devoted
  her all-too-brief life to health and fitness. Jennie had a passion for
  endurance events and was always searching for tough races to test her
  abilities. At the time of her death, in the summer of 2006, she was training
  for the Ironman Triathlon (swim 2.4 miles, bike 112.5 miles, run 26.2 miles)
  and considering returning to school in the nursing program to further her
  ability to reach out to others and provide assistance for their health
  needs.</p>
<p>This race is to honor her memory and continue the legacy she began of
  health, fitness and education. Part of the proceeds from the race will go towards
  the Jennie Hamilton Scholarship Fund.</p>
<p>I brought the race back to July so crossing the pond will be a
  refreshing end to the race.</p>
