<p>
    The Turkey Toss will be held at Hawthorne Park Community Center in Porter, IN. The course is paved streets and bike trails. You will run out 2 miles and return on the same route. Part of the proceeds will benefit the <a href="https://www.facebook.com/PorterParks" target="_blank">Town of Porter Parks Department</a>.
</p>
<p>
    This race will feature "Turkey Bowling" using a 4 pound frozen turkey. Six lucky raffle winners will get a chance to bowl to win prizes. One raffle ticket will be in your goodie bag and extra tickets can be purchased for $1 each. The proceeds go to the Town of Porter Parks Department to purchase playground equipment. Participants will have two shots to knock down all the plastic bowling pins. If you obtain a strike or spare, you win. Runners will receive a one-size-fits-all hat and gloves.
</p>