<p>
    Come experience the beautiful Town of Porter by running this event. 
    This race will be a 2 mile out-and-back course on pavement streets. 
    We will be starting at the community center at Hawthorne Park. I am 
    encouraging you to grow your "stache" out for this event. If you are 
    unable to grow a mustache, you will be provided one. Part of the 
    proceeds will benefit the Porter Parks and Recreation Department. 
    The race is on a Sunday so to not interfere with races occuring on Labor Day. 
</p>
<p>All registered individuals will receive a "Stache" Trucker Hat.</p>