<p>
    Start 2021 off right by running through the streets of the Town of Porter, Indiana. I have rented the Hawthorne Park Community Center, so we will be inside for sign ups, packet pick up, post-race food, and the award ceremony. Coffee is the name of the game and that means <a href="https://www.deathwishcoffee.com/" target="_blank">Deathwish Coffee</a> the "Strongest Coffee in the World" of course. We will have Deathwish Coffee brewing and some snacks as well. There will be a raffle which includes Deathwish Coffee items. Time to be <a href="https://twitter.com/search?q=%23fueledbydeath&src=typd" target="_blank">#fueledbydeath</a>. The entry fee includes one raffle ticket and a t-shirt. Coffee mugs are also available for an additional fee.
</p>
<p>
    <em>ONCE T-SHIRTS ARE SOLD OUT RUNNERS WHO SIGN UP AFTER THAT WILL RECEIVE WINTER HAT AND GLOVES</em>
</p>