<p>
    Come experience the beautiful Bluhm County Park in Westville, Indiana. Trails may be muddy, wet, or snowy, so come prepared for the challenge. The course is three loops around the park with one aid station you will hit twice. If you need more aid please carry a hydration pack. This race is low key. All runners receive a winter hat and gloves and a finisher's medal. You have 4 hours and 30 minutes to complete the course. This race is part of the Crazy Legs Race Series.
</p>
<p>
    The course is 3 loops around the park and each loop contains about a half mile of pavement. Most of the course is single track dirt trails with switchbacks, roots, and depending on the weather, mud or snow.
</p>
<p>
    Course links are from the Relive app and my Strava account:
</p>
<p>
    <a href="https://www.relive.cc/view/vdOR7z1RyK6" target="_blank">Relive</a>
</p>
<p>
    <a href="https://www.strava.com/activities/3043060483" target="_blank">Strava</a>
</p>